/* #region Promo */




.promo .img {
  margin-right: 46px;

}



/* #endregion Promo  */


/* #region Footer */
.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.footer-logo {
  display: block;
  width: 178px;
  margin-right: 146px;

}

.footer-list-icon {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  gap: 16px;
  width: 152px;
}

.footer-item-icon {
  width: calc((100% - 32px) / 3);
  cursor: pointer;
}

.footer-resourse {
  width: 118px;
  height: 205px;
  margin-right: 129px;
}

.footer-legal {
  width: 118px;
  height: 205px;
  margin-right: 83px;
}

.footer-list-contact {
  display: flex;
  position: relative;
  gap: 129px;
}

.footer-text-contact {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}

.footer-resourse-contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}

.footer-form {
  max-width: 325px;
}

.footer-form-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}

.form-phone {
  display: flex;
  align-items: center;
  background: #F1F5F9;
  border-radius: 8px;
  position: relative;
  margin-bottom: 25px;

}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #06C755;
}

.form-input {
  width: 325px;
  height: 48px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  outline: transparent;
  color: #22343d;
  padding-left: 42px;

}

::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.form-btn {
  width: 131px;
  height: 39px;
  background-color: #02897a;
  color: #fff;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  text-align: center;
}

.footer-text-finish {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 10px;
}

/* #endregion Footer */